:root {
  --accent-color: #2e8656;
  /* --accent-color: #2196f3; */
  --secondary-accent-color: #f34121;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --primary-bg-color: #ffffff;
  --dark-bg-text-color: #ffffff;
  --dark-bg-color: #2f303a;
}
